.buttoN {
  background-color: white !important;
  color: black !important;
  width: 98% !important;
}

.buttoN:hover {
  background-color: green !important;
  color: white !important;
}

.buttonGoogle {
  background-color: burlywood !important;
  width: 50% !important;
  border-radius: 15px !important;
  padding: 0.5rem !important;
  margin-bottom: 1rem !important;
}

.buttonGoogle:hover {
  background-color: white !important;
  color: black !important;
}
