.buttoN {
  background-color: rgb(248, 249, 250);
  color: black;
}

.buttoN:hover {
  background-color: green;
}

.buttonGoogle {
  background-color: burlywood;
  width: 50%;
  border-radius: 15px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.buttonGoogle:hover {
  background-color: white;
  color: black;
}
