@media screen and (max-width: 662px) {
  .imageDetails img {
    width: 200px;
  }
}
@media screen and (max-width: 425px) {
  .detail-movie {
    display: flex;
    flex-direction: column;
  }

  .imageDetails img {
    display: block;
    width: 100%;
  }
}
